body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    line-height: 1.6em;
    background: radial-gradient(circle, rgb(208, 238, 174) 0%, rgba(148,187,233,1) 100%);
}

h1,
h2 { 
    text-align: center; 
}
h2 { color: rgb(88, 113, 141); }

